body{
    background:#f7ebe5;
    font-family:Arial, sans-serif;
    padding:40px;
}

.container{
    max-width:1000px;
    margin:auto;
}

.card{
    background:white;
    padding:30px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.1);
    margin-bottom:20px;
}

h1{
    color:#8f6b5a;
}

.client{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 0;
    border-bottom:1px solid #eee;
}

button{
    background:#d8b4a0;
    border:none;
    color:white;
    padding:10px 20px;
    border-radius:8px;
    cursor:pointer;
}

.controls{
    display:flex;
    align-items:center;
    gap:10px;
}

.controls input{
    width:120px;
    padding:10px;
    border:1px solid #ddd;
    border-radius:8px;
    text-align:center;
}

.controls button{
    padding:10px 18px;
}

.remove-btn{
    background:#d96b6b;
}

.remove-btn:hover{
    background:#c95a5a;
}

#search{
    width:100%;
    padding:14px;
    border:1px solid #ddd;
    border-radius:12px;
    font-size:1rem;
    box-sizing:border-box;
    margin:20px 0;
}

@media(max-width:768px){

    .client{
        display:flex;
        flex-direction:column;
        align-items:flex-start;
        gap:15px;
    }

    .controls{
        width:100%;
        display:flex;
        flex-direction:column;
        gap:10px;
    }

    .controls input{
        width:100%;
    }

    .controls button{
        width:100%;
    }

}

.modal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.5);
    justify-content:center;
    align-items:center;
    z-index:1000;
}

.modal-content{
    background:white;
    width:90%;
    max-width:500px;
    padding:30px;
    border-radius:20px;
    position:relative;
}

.close{
    position:absolute;
    top:15px;
    right:20px;
    font-size:2rem;
    cursor:pointer;
}

.history-item:last-child{

    border-bottom:none;

}

.history-item{

    background:white;

    border-radius:12px;

    padding:15px;

    margin-bottom:12px;

    box-shadow:
    0 2px 8px rgba(
        0,0,0,0.08
    );

}

.history-date{

    font-weight:600;

    font-size:16px;

    margin-bottom:8px;

}

.history-minutes{

    color:#666;

    font-size:14px;

}

#historyList{

    max-height:400px;

    overflow-y:auto;

    margin-top:15px;

}

.top-bar{
    display:flex;
    justify-content:flex-end;
    margin-bottom:20px;
}

.logout-btn{
    background:#d8b4a0;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:10px;
    cursor:pointer;
}

.logout-btn:hover{
    transform:translateY(-2px);
}